<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <script src="/helper.js" defer></script>
</head>    
<body>
    <div class="gameArea">

        <div class="playArea">
                <div class="Users"> 
                    <h1> Players </h1>
            
                    <% for (let i = 1; i < 7; i++){ %>
                        <div id="user<%= i %>" class="UserName">
                            User <%= i %>
                        </div> 

                    <% } %>
                </div>

                <div class="Hands">
                                        
                    <div class="hand-cards">
                        <!-- <% 
                        // Get 7 unique random card indices
                        const handIndices = [];
                        while (handIndices.length < 7) {
                            const randomIndex = Math.floor(Math.random() * Object.keys(boardData).length);
                            const randomKey = Object.keys(boardData)[randomIndex];
                            if (!handIndices.includes(randomKey)) {
                                handIndices.push(randomKey);
                            }
                        }

                        // Display the hand cards
                        for (let i = 0; i < handIndices.length; i++) { 
                            const cardKey = handIndices[i];
                        %>
                            <img class="hand_card" src="images/<%= boardData[cardKey] %>.png" alt="<%= boardData[cardKey] %>">
                        <% } %> -->
                    </div>
                </div>

        </div>

        <div class="content">
            <div class="board">    
                <table>
                    <% for (let i = 0; i < 10; i++) { %>
                    <tr>
                        <% for (let j = 0; j < 10; j++) { %>
                        <td>
                            <img class="card" src="images/<%= boardData[i + ',' + j] %>.png" alt="<%= boardData[i + ',' + j] %>">
                        </td>
                        <% } %>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>

    </div>
    
    <script>
        // Embed the username in a global variable
        window.username = "<%= username %>";
    </script>
</body>
</html>
